---
http_interactions:
- request:
    method: get
    uri: https://ws.netcash.co.za/NIWS/NIWS_Validation.svc?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><wsdl:definitions name="NIWS_Validation"
        targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
        xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"><wsp:Policy wsu:Id="BasicHttpBinding_INIWS_Validation_policy"><wsp:ExactlyOne><wsp:All><sp:TransportBinding
        xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"><wsp:Policy><sp:TransportToken><wsp:Policy><sp:HttpsToken
        RequireClientCertificate="false"/></wsp:Policy></sp:TransportToken><sp:AlgorithmSuite><wsp:Policy><sp:Basic256/></wsp:Policy></sp:AlgorithmSuite><sp:Layout><wsp:Policy><sp:Strict/></wsp:Policy></sp:Layout></wsp:Policy></sp:TransportBinding></wsp:All></wsp:ExactlyOne></wsp:Policy><wsdl:types><xsd:schema
        targetNamespace="http://tempuri.org/Imports"><xsd:import schemaLocation="https://ws.netcash.co.za/NIWS/NIWS_Validation.svc?xsd=xsd0"
        namespace="http://tempuri.org/"/><xsd:import schemaLocation="https://ws.netcash.co.za/NIWS/NIWS_Validation.svc?xsd=xsd1"
        namespace="http://schemas.microsoft.com/2003/10/Serialization/"/></xsd:schema></wsdl:types><wsdl:message
        name="INIWS_Validation_ValidateBankAccount_InputMessage"><wsdl:part name="parameters"
        element="tns:ValidateBankAccount"/></wsdl:message><wsdl:message name="INIWS_Validation_ValidateBankAccount_OutputMessage"><wsdl:part
        name="parameters" element="tns:ValidateBankAccountResponse"/></wsdl:message><wsdl:message
        name="INIWS_Validation_ValidateBranchCode_InputMessage"><wsdl:part name="parameters"
        element="tns:ValidateBranchCode"/></wsdl:message><wsdl:message name="INIWS_Validation_ValidateBranchCode_OutputMessage"><wsdl:part
        name="parameters" element="tns:ValidateBranchCodeResponse"/></wsdl:message><wsdl:message
    [...]
- request:
    method: post
    uri: https://ws.netcash.co.za/NIWS/NIWS_Validation.svc
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://tempuri.org/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:ValidateBankAccount><tns:ServiceKey>4724c261-dad5-4a64-852c-9b88a67b3c50</tns:ServiceKey><tns:AccountNumber>123456789</tns:AccountNumber><tns:BranchCode>632005</tns:BranchCode><tns:AccountType>1</tns:AccountType></tns:ValidateBankAccount></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://tempuri.org/INIWS_Validation/ValidateBankAccount"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body><ValidateBankAccountResponse
        xmlns="http://tempuri.org/"><ValidateBankAccountResult>0</ValidateBankAccountResult></ValidateBankAccountResponse></s:Body></s:Envelope>
  recorded_at: Mon, 29 Jun 2020 17:39:26 GMT
recorded_with: VCR 6.0.0
