---
http_interactions:
- request:
    method: get
    uri: https://ws.netcash.co.za/NIWS/NIWS_NIF.svc?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><wsdl:definitions name="NIWS_NIF"
        targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
        xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"><wsp:Policy wsu:Id="BasicHttpBinding_INIWS_NIF_policy"><wsp:ExactlyOne><wsp:All><sp:TransportBinding
        xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"><wsp:Policy><sp:TransportToken><wsp:Policy><sp:HttpsToken
        RequireClientCertificate="false"/></wsp:Policy></sp:TransportToken><sp:AlgorithmSuite><wsp:Policy><sp:Basic256/></wsp:Policy></sp:AlgorithmSuite><sp:Layout><wsp:Policy><sp:Strict/></wsp:Policy></sp:Layout></wsp:Policy></sp:TransportBinding></wsp:All></wsp:ExactlyOne></wsp:Policy><wsdl:types><xsd:schema
        targetNamespace="http://tempuri.org/Imports"><xsd:import schemaLocation="https://ws.netcash.co.za/NIWS/NIWS_NIF.svc?xsd=xsd0"
        namespace="http://tempuri.org/"/><xsd:import schemaLocation="https://ws.netcash.co.za/NIWS/NIWS_NIF.svc?xsd=xsd1"
        namespace="http://schemas.microsoft.com/2003/10/Serialization/"/><xsd:import
        schemaLocation="https://ws.netcash.co.za/NIWS/NIWS_NIF.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><xsd:import
        schemaLocation="https://ws.netcash.co.za/NIWS/NIWS_NIF.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NC.DG.TMS.C.WCF.NIWS"/></xsd:schema></wsdl:types><wsdl:message
        name="INIWS_NIF_AccountFundsRelease_InputMessage"><wsdl:part name="parameters"
        element="tns:AccountFundsRelease"/></wsdl:message><wsdl:message name="INIWS_NIF_AccountFundsRelease_OutputMessage"><wsdl:part
        name="parameters" element="tns:AccountFundsReleaseResponse"/></wsdl:message><wsdl:message
        name="INIWS_NIF_RequestActionDate_InputMessage"><wsdl:part name="parameters"
        element="tns:RequestActionDate"/></wsdl:message><wsdl:message name="INIWS_NIF_RequestActionDate_OutputMessage"><wsdl:part
        name="parameters" element="tns:RequestActionDateResponse"/></wsdl:message><wsdl:message
        name="INIWS_NIF_Reque[...]
- request:
    method: post
    uri: https://ws.netcash.co.za/NIWS/NIWS_NIF.svc
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><env:Envelope xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:tns=\"http://tempuri.org/\"
        xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"><env:Body><tns:BatchFileUpload><tns:ServiceKey>d930eccd-3a6c-40b5-a611-831a72d012c4</tns:ServiceKey><tns:File>H\td930eccd-3a6c-40b5-a611-831a72d012c4\t1\tSameDay\t123\t20200704\t4724c261-dad5-4a64-852c-9b88a67b3c50\nK\t101\t102\t131\t132\t133\t134\t135\t136\t162\nT\t790\tTest
        Account Name\t1\tTest Bank Account\t1\t632005\t0\t123456789\t5000\nT\t370\tTest
        Account Name\t1\tTest Bank Account\t1\t632005\t0\t123456789\t5000\nT\t432\tTest
        Account Name\t1\tTest Bank Account\t1\t632005\t0\t123456789\t5000\nT\t769\tTest
        Account Name\t1\tTest Bank Account\t1\t632005\t0\t123456789\t5000\nT\t657\tTest
        Account Name\t1\tTest Bank Account\t1\t632005\t0\t123456789\t5000\nF\t5\t25000\t9999\n</tns:File></tns:BatchFileUpload></env:Body></env:Envelope>"
    headers:
      Soapaction:
      - '"http://tempuri.org/INIWS_NIF/BatchFileUpload"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body><BatchFileUploadResponse
        xmlns="http://tempuri.org/"><BatchFileUploadResult>10028929.1000711981.5684.63807.011</BatchFileUploadResult></BatchFileUploadResponse></s:Body></s:Envelope>
  recorded_at: Mon, 29 Jun 2020 17:34:35 GMT
recorded_with: VCR 6.0.0
